@import '../../sass/variables';
@import '../../sass/typo';

// @font-face {
//   font-family: "RobotoRegular";
//   src: url(../../../public/assets/typo/Roboto/Roboto-Regular.ttf);    
// }

#headerstyle {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100px;
  padding: 0 1rem; 
}

#navheader {
  display: flex;    
  justify-content: space-between;
  align-items: center;
  height: 75px;
  padding-top: 2rem;
}

#navheader li { 
  list-style: none;
  text-decoration: none;
  margin-right: 2rem;
  margin-top: 1rem;
}
#navheader li a { 
  position: relative;
  color: $purple-dark-color;
}

#navheader li a::before {
  content: ''; 
  position: absolute; 
  bottom: 0%; 
  left: 50%; 
  width: 0; 
  height: 2px; 
  background-color: $purple-dark-color; 
  transition: width 0.3s ease-out, left 0.3s ease-out; 
}
#navheader li a:hover::before {
  width: 100%; 
  left: 0; 
}

#logo {
  width: 220px;  
  height: 75px;
}
#logoheader {
  padding-left: 2rem;
  padding-top: 1rem;
}

#headerstyle button {
  background-color: #C8B1C4;
  color: $purple-dark-color;
  padding: 6px 6px;
  border: 2px solid;
  border-radius: 20px;
}
#headerstyle button:hover {
  background-color: $purple-dark-color;
  color: white;
  cursor: pointer;
}

.titleone {
  height: 430px;
  background-image: url("../../../public/assets/imgs/background.jpg");
  background-size: cover;
  background-position: center;
  opacity: 0.6;
  margin: none;
}
.titleone h1 {
  color: white;
  font-size: 5rem;
  font-weight: bold;
  text-align: center;
  padding-top: 2rem;
}
.titleone h2 {
  color: white;
  font-size: 3rem;
  text-align: center;
  padding-top: 4rem;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

#headerstyle label, #headerstyle #toggle {
  display:none;
}

/* Requêtes média pour adaptabilité mobile */
@media (max-width: 768px) {
  #headerstyle {
    flex-direction: column;
    height: auto;
    padding: 1rem;
  }
  #logo {
    width: 160px;
    height: auto;
  }
  #headerstyle label   {
      width: 30px;
      display: flex;
      justify-content: center;
      align-items: center;
      margin: 0 auto;
      font-size: 40px;
      color: $purple-dark-color;
      cursor: pointer;
  } 
  #navheader {
    display: none;
    flex-direction: column;
    padding: 0;
    height: 420px;
    width: 200px;
  }
  #navheader a {
    width: 50%;
}
  #navheader li {
    margin: 0.5rem 0;
  }
  #toggle:checked + #navheader {
    display: flex;
}
  .titleone {
    height: 300px;
  }
  .titleone h1 {
    font-size: 3rem;
    padding-top: 1rem;
  }
  .titleone h2 {
    font-size: 2rem;
    padding-top: 2rem;
  }
}
