
// Le bandeau : titre 2 et couleur de fond

.soustitre {
    background-color: #8C6384;
    height: 75px;
    width: 100%;
    margin: 0%;
    position: relative;  
    margin-bottom: 2%;
  }
  .soustitre h2 {
    margin: 0;
    position: absolute;
    top: 30%;
    right: 50%;
    transform: translateX(50%);
  }


//  La zone des établissemnts scolaires

.container-schools {
    width: 100%;
    display: flex;
    justify-content: center;
}

.container-school {
    width: 20%;
    margin: 0 1%;
    // padding-bottom: 2rem;
    // position: relative;  
    border: 1px solid #8C6384;
    border-radius: 30px;
}

.img-container-school {
    background-position: center;
    width:90%;
    height: 40vh;
    margin: auto;
}

.img-school{
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.container-schools h3 {
    text-align: center;
    color: #8C6384;
}
@media screen and (max-width: 768px) {
    .container-schools {
    flex-direction: column;
    width: 90%;
    margin: auto; 
    }
    .container-school {
        width: 100%;
        margin-bottom: 15px;
    }
    .soustitre {        
        height: 90px;     
    }
    .soustitre h2 {
        font-size: 18px;
        top: 20%;
    }
} 