@import '../../sass/variables';

form .createInputs {
    text-align: center;
}
textarea {
    width: 300px;
}

button {
    padding: 5px;
    border-radius: 20px;
    margin: 5px 10px;
    background-color: $purple-light-color;
    color: $purple-dark-color;
}

button:hover {
    background-color:$purple-dark-color;
    color: white;
}