.articlesdesign {
    width: 100%;
    margin-bottom: 4rem;
}

.subjetsStyle {
    background-color: #DDC9D8;
    padding: 2rem;
    color: #8C6384;
}

h2, h3, h4 {
    text-align: center;
}

.commentStyleTitle{
    color: #8C6384;
    margin-top: 3rem;
}

.commentstyle {
    color:#DDC9D8 ;
    margin-bottom: 0.5rem;
    margin-top: 2rem;
}

.articlesdesign button {
    position: relative;
    left: 50%;    
    transform: translateX(-50%);
    padding: 10px;
    border: none;
    border-radius: 20px;
    color: #8C6384;
    cursor: pointer;
    background-color:  #DDC9D8;
}
.articlesdesign button:hover { 
    background-color: #8C6384;
    color:#DDC9D8 ;
}
.articlesdesign a {
    position: relative;
    left: 50%;    
    transform: translateX(-50%);
    padding: 5px;
    border-radius: 20px;
    color: #8C6384;
    cursor: pointer;
    background-color: #DDC9D8;
}
.articlesdesign a:hover { 
    background-color: #8C6384;
    color:#DDC9D8 ;
}