@font-face {
  font-family: "RobotoRegular";
  src: url(../../../public/assets/typo/Roboto/Roboto-Regular.ttf);    
}
@import '../../sass/variables';

.headeradmin {
    height: 150px;
    width: 100%;
}
#navheaderadmin {
    display: flex;
    justify-content: space-between;
    height: 100px;
}
#navheaderadminposition { // position de mes ul
    display: flex;
    justify-content: center;    
    height: 75px;
}
#navheaderadminposition  li {
    margin-top: 1rem;
    margin-right: 1rem;
    list-style: none;
    padding: 5px;
    cursor: pointer;   
    color: $purple-dark-color;
}

#navheaderadminposition  a { 
  text-decoration: none;
  color: $purple-dark-color;
  position: relative;
}

#navheaderadminposition   a::before {
  content: ''; /* Ajoute un contenu vide pour les pseudo-éléments */
  position: absolute; /* Position absolue pour positionner la barre */
  bottom: 0%; /* Aligner le bas de la barre avec le bas du lien */
  left: 50%; /* Commencer du centre */
  width: 0; /* Largeur initiale nulle */
  height: 2px; /* Hauteur de la barre */
  background-color: $purple-dark-color; /* Couleur de la barre */
  transition: width 0.3s ease-out, left 0.3s ease-out; /* Animation de la largeur et de la position */
}

#navheaderadminposition   a:hover::before {
  width: 100%; /* Augmenter la largeur de la barre au survol */
  left: 0; /* Déplacer la barre vers la gauche pour partir des extérieurs */
}
  .headeradmin button {
    background-color:$purple-light-color;
    color: $purple-dark-color;
    border-radius: 20px;
    border: none;
    cursor: pointer;
    margin-top: 0%;
  }
  .headeradmin button:hover {
    background-color:$purple-dark-color;
    color: white;
  }

#titleAdmin{
  font-size: 1.5rem;
  color: $purple-dark-color;
}
h1, h2 {
  text-align: center;
}

#navheaderadmin label, #navheaderadmin #toggle {
  display:none;
}

  @media screen and (max-width: 768px) {
    .headeradmin {
      height: auto;
      width: 100%;
    }  
    #navheaderadmin {
    flex-direction: column;
    height: auto;
    // padding: 1rem;
    }  
   #logoheader {
    width: 160px;
    height: auto;    
    margin: auto;
  }
  #navheaderadmin label   {
      width: 30px;
      display: flex;
      justify-content: center;
      align-items: center;
      margin: 0 auto;
      font-size: 40px;
      color: $purple-dark-color;
      cursor: pointer;
  } 
  #navheaderadminposition {
    display: none;
    flex-direction: column;
    padding: 0;
    width: 200px;
    height: auto;
    margin: auto;
  }
 
  #navheaderadminposition li {
    margin: auto;
  }
  #toggle:checked + #navheaderadminposition {
    display: flex;
  }
  #titleAdmin{
    font-size: 1rem;
  }
 }      