 @font-face {
    font-family: "RobotoRegular";
    src: url(../public/assets/typo/Roboto/Roboto-Regular.ttf);    
}

body, header, footer {
    font-family: 'RobotoRegular';
    margin: 0;
} 

a {
    text-decoration: none; 
}