.objectifsAboutUs {
    width: 60%;
    margin-left: 8%;
    margin-bottom: 2%;
    font-size: larger;
}

.aboutusManagersPics{
    width: 80%;
    margin: auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    // justify-content: space-between;
}

.aboutusManagerPic {
    height: 250px;
    width: 250px;
    padding: 5px;
    margin: 1%;
    object-fit:contain;
}


