@import '../../sass/variables';

.articlestyle {
    background-color:#fff;
    width: 100%;
    margin-top: 2%;
}
.commentstyle {
    background-color: #fff;
    width: 80%;
    margin: auto;
    color: $purple-dark-color;
}

.sujetstyle {
    width: 100%;
    background-color: $purple-light-color;
    border-radius: 10px;
    color: $purple-dark-color;
    padding: 2%;
    margin: 0%;
}

.commentUnderline {
    font-size: larger;
    font-weight: 700;
    margin-bottom: 3%;
}
.h2style { 
    font-size: larger; 
    color: $purple-dark-color;   
}

h4 {
    color: $purple-dark-color;
}
    
.formCommentPosition {
    margin: auto;
}


