@import '../../sass/variables';

// Zone d'introduction au sujet qui est le collège
.PicPosition {
    margin-left: 5%;
}
 .collegePhotoTitle {
    background-color: $purple-light-color;
    width: 40%;
    padding: 30px;
    font-size: 30px;
    color: $purple-dark-color;
    border: 1px solid $purple-dark-color;
    position: relative;
    left: 700px;
    top: -50px;   
}
.collegeParagraphIntro {
    width: 60%;
    margin-left: 10%;
    border-left: 4px solid $purple-dark-color;
    padding: 0.1%;
    margin-bottom: 2%;
}
.collegeParagraphIntro p {
    margin-left: 1%;
    color: $purple-dark-color;
    font-size: 20px;
}

// GreenArea
.greenArea {
    background-color:$formbgcolor;
    width: 45%;
    margin: auto;
    margin-bottom: 1%;
    padding: 40px;
    color: $purple-dark-color;
    border-radius: 20px;
    border: 1px solid $purple-dark-color ;
}
.greenAreaTitle{
    font-size: 20px;
}

.greenAreaPragraph{
    position: relative;
    left : 2.5%
}