// Zone d'introduction au sujet qui est le collège
.PicPosition {
    margin-left: 5%;
}
 .lyceePhotoTitle {
    background-color: lightgrey;
    width: 40%;
    padding: 30px;
    font-size: 30px;
    color: #8C6384;
    border: 1px solid #8C6384;
    position: relative;
    left: 700px;
    top: -50px;   
}
.lyceeParagraphIntro {
    width: 60%;
    margin-left: 10%;
    border-left: 4px solid #8C6384;
    padding: 0.1%;
    margin-bottom: 2%;
}
.lyceeParagraphIntro p {
    margin-left: 1%;
    color: #8C6384;
    font-size: 20px;
}

// GreenArea
.greenArea {
    background-color: #D7FEAD;
    width: 45%;
    margin: auto;
    margin-bottom: 1%;
    padding: 40px;
    color: #8C6384;
    border-radius: 20px;
    border: 1px solid #8C6384 ;
}
.greenAreaTitle{
    font-size: 20px;
}
.greenAreaPragraph{
    position: relative;
    left : 2.5%
}