@import '../../sass/variables';

// Zone d'introduction au sujet qui est la maternelle
.PicPosition {
    margin-left: 5%;
}
 .maternellePhotoTitle {
    background-color: $purple-light-color;
    width: 40%;
    padding: 30px;
    font-size: 30px;
    color: $purple-dark-color;
    border: 1px solid $purple-dark-color;
    position: relative;
    left: 700px;
    top: -50px;   
}
.maternelleParagraphIntro {
    width: 60%;
    margin-left: 10%;
    border-left: 4px solid $purple-dark-color;
    padding: 0.1%;
    margin-bottom: 2%;
}
.maternelleParagraphIntro p {
    margin-left: 1%;
    color: $purple-dark-color;
    font-size: 20px;
}

// GreenArea
.greenArea {
    background-color: $formbgcolor;
    width: 45%;
    margin: auto;
    margin-bottom: 1%;
    padding: 40px;
    color: $purple-dark-color;
    border-radius: 20px;
    border: 1px solid $purple-dark-color ;
}
.greenAreaTitle{
    font-size: 20px;
}
.greenAreaPragraph{
    position: relative;
    left : 2.5%
}

/* Requêtes média pour adaptabilité mobile */
@media (max-width: 768px) {
    .PicPosition {
        width: 100%;
        margin: auto;
        border: none;
    }
    .maternellePhotoTitle {
       left: 30%; 
       font-size: 15px;
    }    
}