@import '../../sass/variables';
.sujetstyle {
    width: 100%;
    background-color: $purple-light-color;
    border-radius: 10px;
    color: $purple-dark-color;
    padding: 2%;
    margin: 0%;
}

.paragraphStyle {
    margin: auto;
    padding: 2%;
}

