
@import '../../sass/variables';


.formpositionregister {    
    background-color: $formbgcolor;
    margin: 0;
    padding: 1rem;
    // position: relative;
    // top: 50px;
    // left: 200px;  
    margin: auto;
    margin-top: 2rem;
  }