
.sujetstyle {
    width: 100%;
    background-color: #DDCEDA;
    border-radius: 10px;
    color: #8C6384;
    padding: 2%;
    margin: 0%;
}

.paragraphStyle {
    // background-color: aqua;
    width: 80%;
    margin: auto;
    padding: 2%;
}

#harcelementTableau {
    width: 50%;
    position: relative;
    left: 25%;
}